USE [master]
GO
/****** Object:  Database [EnrollmentDB]    Script Date: 6/4/2026 3:12:18 AM ******/
CREATE DATABASE [EnrollmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnrollmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EnrollmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnrollmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EnrollmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnrollmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnrollmentDB]
GO
/****** Object:  Table [__EFMigrationsHistory]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DegreePrograms]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DegreePrograms](
	[DegreeProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](max) NOT NULL,
	[DegreeLevel] [nvarchar](max) NOT NULL,
	[DepartmentID] [int] NOT NULL,
 CONSTRAINT [PK_DegreePrograms] PRIMARY KEY CLUSTERED 
(
	[DegreeProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Departments]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Enrollments]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[EnrolledAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ReviewedAt] [datetime] NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EnrollmentSettings]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EnrollmentSettings](
	[EnrollmentSettingsID] [int] IDENTITY(1,1) NOT NULL,
	[IsEnrollmentOpen] [bit] NOT NULL,
	[OpenDate] [datetime2](7) NULL,
	[CloseDate] [datetime2](7) NULL,
 CONSTRAINT [PK_EnrollmentSettings] PRIMARY KEY CLUSTERED 
(
	[EnrollmentSettingsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FeeSlips]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FeeSlips](
	[FeeSlipID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[TransactionID] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[VerifiedByClerkID] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FeeSlips] PRIMARY KEY CLUSTERED 
(
	[FeeSlipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Notices]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Notices](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DepartmentID] [int] NULL,
	[CreatedByRole] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Notices] PRIMARY KEY CLUSTERED 
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Subjects]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](max) NOT NULL,
	[SubjectName] [nvarchar](max) NOT NULL,
	[CreditHours] [int] NOT NULL,
	[Semester] [int] NOT NULL,
	[DegreeLevel] [int] NOT NULL,
	[DegreeProgramID] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Users]    Script Date: 6/4/2026 3:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[DepartmentID] [int] NULL,
	[DegreeProgramID] [int] NULL,
	[CurrentSemester] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260502131955_InitialCreate', N'8.0.0')
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260505102006_AddDepartment', N'8.0.0')
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260510174433_AddFeeSlipTable', N'8.0.0')
GO
SET IDENTITY_INSERT [DegreePrograms] ON 

INSERT [DegreePrograms] ([DegreeProgramID], [ProgramName], [DegreeLevel], [DepartmentID]) VALUES (1, N'BS Computer Science', N'Bachelors', 1)
INSERT [DegreePrograms] ([DegreeProgramID], [ProgramName], [DegreeLevel], [DepartmentID]) VALUES (2, N'BSSE', N'BS', 1)
INSERT [DegreePrograms] ([DegreeProgramID], [ProgramName], [DegreeLevel], [DepartmentID]) VALUES (3, N'MSCS', N'CS', 1)
SET IDENTITY_INSERT [DegreePrograms] OFF
GO
SET IDENTITY_INSERT [Departments] ON 

INSERT [Departments] ([DepartmentID], [Name]) VALUES (1, N'Computer Science')
SET IDENTITY_INSERT [Departments] OFF
GO
SET IDENTITY_INSERT [FeeSlips] ON 

INSERT [FeeSlips] ([FeeSlipID], [StudentID], [FilePath], [TransactionID], [Status], [UploadedAt], [VerifiedAt], [VerifiedByClerkID], [IsDeleted]) VALUES (1, 18, N'1cbca54b-aa04-4899-a807-d924ce668e02.jpeg', N'ID 10', 1, CAST(N'2026-05-10T23:20:12.7053553' AS DateTime2), CAST(N'2026-05-11T16:49:00.7092553' AS DateTime2), 17, 0)
SET IDENTITY_INSERT [FeeSlips] OFF
GO
SET IDENTITY_INSERT [Notices] ON 

INSERT [Notices] ([NoticeID], [Title], [Description], [CreatedAt], [DepartmentID], [CreatedByRole]) VALUES (1, N'Enrollment Open', N'Students should apply for their respective subjects enrollment asap as the enrollment will be shutdown in 10 days', CAST(N'2026-05-16T21:51:59.1807482' AS DateTime2), 1, N'Admin')
INSERT [Notices] ([NoticeID], [Title], [Description], [CreatedAt], [DepartmentID], [CreatedByRole]) VALUES (2, N'Feeslip upload', N'Dear students, Upload the right file for feeslip. DOnt upload random images or your enrollment will be flagged', CAST(N'2026-05-16T22:01:27.3690229' AS DateTime2), 1, N'Clerk')
INSERT [Notices] ([NoticeID], [Title], [Description], [CreatedAt], [DepartmentID], [CreatedByRole]) VALUES (1002, N'Enrollment status', N'Enrollment has been closed for spring session, summer details will be shared later', CAST(N'2026-06-04T01:12:50.3219714' AS DateTime2), 1, N'Admin')
SET IDENTITY_INSERT [Notices] OFF
GO
SET IDENTITY_INSERT [Subjects] ON 

INSERT [Subjects] ([SubjectID], [SubjectCode], [SubjectName], [CreditHours], [Semester], [DegreeLevel], [DegreeProgramID]) VALUES (1, N'CS112', N'DSA', 3, 1, 0, 1)
INSERT [Subjects] ([SubjectID], [SubjectCode], [SubjectName], [CreditHours], [Semester], [DegreeLevel], [DegreeProgramID]) VALUES (2, N'MS703', N'Advanced AI', 3, 1, 1, 1)
INSERT [Subjects] ([SubjectID], [SubjectCode], [SubjectName], [CreditHours], [Semester], [DegreeLevel], [DegreeProgramID]) VALUES (3, N'MS703', N'Advanced AI', 3, 1, 1, 3)
SET IDENTITY_INSERT [Subjects] OFF
GO
SET IDENTITY_INSERT [Users] ON 

INSERT [Users] ([UserID], [Name], [Email], [PasswordHash], [Role], [DepartmentID], [DegreeProgramID], [CurrentSemester], [IsDeleted]) VALUES (12, N'James', N'james@test.com', N'$2a$11$ZAjQzI3nEidObIdg.i6FG.DtXPC9SWgnsmqco9/aJp7j4OcFPg6x2', N'Student', NULL, NULL, 0, 1)
INSERT [Users] ([UserID], [Name], [Email], [PasswordHash], [Role], [DepartmentID], [DegreeProgramID], [CurrentSemester], [IsDeleted]) VALUES (13, N'James', N'james@test.com', N'$2a$11$Mkx1y38TRGRQBdDBilxXuO4/lyhRZ39qw.eELG9pSVqn5i7.0NQxm', N'Student', NULL, NULL, 0, 0)
INSERT [Users] ([UserID], [Name], [Email], [PasswordHash], [Role], [DepartmentID], [DegreeProgramID], [CurrentSemester], [IsDeleted]) VALUES (14, N'Alex', N'alex@test.com', N'$2a$11$FzFPPLpKv2o35ESRhk6Vj.ZeT6R3CYUbH2nb0d7kfZhqVmK/AkWYG', N'Student', 1, 1, 5, 0)
SET IDENTITY_INSERT [Users] OFF
GO
/****** Object:  Index [IX_DegreePrograms_DepartmentID]    Script Date: 6/4/2026 3:12:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_DegreePrograms_DepartmentID] ON [DegreePrograms]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_StudentID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_StudentID] ON [Enrollments]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_SubjectID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_SubjectID] ON [Enrollments]
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeeSlips_StudentID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_FeeSlips_StudentID] ON [FeeSlips]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeeSlips_VerifiedByClerkID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_FeeSlips_VerifiedByClerkID] ON [FeeSlips]
(
	[VerifiedByClerkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notices_DepartmentID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notices_DepartmentID] ON [Notices]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subjects_DegreeProgramID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Subjects_DegreeProgramID] ON [Subjects]
(
	[DegreeProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DegreeProgramID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_DegreeProgramID] ON [Users]
(
	[DegreeProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DepartmentID]    Script Date: 6/4/2026 3:12:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_DepartmentID] ON [Users]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [FeeSlips] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [Users] ADD  DEFAULT ((0)) FOR [CurrentSemester]
GO
ALTER TABLE [Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [DegreePrograms]  WITH CHECK ADD  CONSTRAINT [FK_DegreePrograms_Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [Departments] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [DegreePrograms] CHECK CONSTRAINT [FK_DegreePrograms_Departments_DepartmentID]
GO
ALTER TABLE [Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Subjects_SubjectID] FOREIGN KEY([SubjectID])
REFERENCES [Subjects] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [Enrollments] CHECK CONSTRAINT [FK_Enrollments_Subjects_SubjectID]
GO
ALTER TABLE [Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users_StudentID] FOREIGN KEY([StudentID])
REFERENCES [Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users_StudentID]
GO
ALTER TABLE [FeeSlips]  WITH CHECK ADD  CONSTRAINT [FK_FeeSlips_Users_StudentID] FOREIGN KEY([StudentID])
REFERENCES [Users] ([UserID])
GO
ALTER TABLE [FeeSlips] CHECK CONSTRAINT [FK_FeeSlips_Users_StudentID]
GO
ALTER TABLE [FeeSlips]  WITH CHECK ADD  CONSTRAINT [FK_FeeSlips_Users_VerifiedByClerkID] FOREIGN KEY([VerifiedByClerkID])
REFERENCES [Users] ([UserID])
GO
ALTER TABLE [FeeSlips] CHECK CONSTRAINT [FK_FeeSlips_Users_VerifiedByClerkID]
GO
ALTER TABLE [Notices]  WITH CHECK ADD  CONSTRAINT [FK_Notices_Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [Departments] ([DepartmentID])
GO
ALTER TABLE [Notices] CHECK CONSTRAINT [FK_Notices_Departments_DepartmentID]
GO
ALTER TABLE [Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_DegreePrograms_DegreeProgramID] FOREIGN KEY([DegreeProgramID])
REFERENCES [DegreePrograms] ([DegreeProgramID])
ON DELETE CASCADE
GO
ALTER TABLE [Subjects] CHECK CONSTRAINT [FK_Subjects_DegreePrograms_DegreeProgramID]
GO
ALTER TABLE [Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_DegreePrograms_DegreeProgramID] FOREIGN KEY([DegreeProgramID])
REFERENCES [DegreePrograms] ([DegreeProgramID])
GO
ALTER TABLE [Users] CHECK CONSTRAINT [FK_Users_DegreePrograms_DegreeProgramID]
GO
ALTER TABLE [Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [Departments] ([DepartmentID])
GO
ALTER TABLE [Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentID]
GO
USE [master]
GO
